
<!-- About Section -->
<div id="about" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">About Us</h2>
                <h3 class="title-description">Learn About our Talents.</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- People -->
    <div class="row">
        
        <!-- Start Profile -->
        <div class="span4 profile">
            <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Game Developer & Game Designer</span>
                </div>
                <img src="{{ app.request.basepath }}/Ressources/img/profile/amaury.jpg" alt="Amaury LAROZE">
            </div>
            <h3 class="profile-name">Amaury LAROZE</h3>
            <p class="profile-description"><b>Favorite Game</b> : The Legend Of Zelda <br> <b>Special Skill</b> : Troll <br> <b>What he loves</b> :  <br> <b>What he hates</b> : 3DS Max<br> <b>Special Link</b> : <a href="http://yruama.fr">Me</a></p>
                
            <div class="social">
                <ul class="social-icons">
                    <li><a href="http://twitter.com/YruamaCrystal"><i class="font-icon-social-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->
        
        <!-- Start Profile -->
        <div class="span4 profile">
            <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Game Developer</span>
                </div>
                <img src="{{ app.request.basepath }}/Ressources/img/profile/charly.jpg" alt="Charly ROCHE">
            </div>
            <h3 class="profile-name">Charly ROCHE</h3>
            <p class="profile-description"><b>Favorite Game</b> : Portal <br> <b>Special Skill</b> : Rage <br> <b>What he loves</b> : Fight Club <br> <b>What he hates</b> : Blue Screen<br> <b>Special Link</b> : <a href="http://netflix.com">Nextflix & Chill</a></p>
                
            <div class="social">
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/charly.roche.5?ref=ts&fref=ts"><i class="font-icon-social-facebook"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->
        
        <!-- Start Profile -->
        <div class="span4 profile">
            <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Game Designer</span>
                </div>
                <img src="{{ app.request.basepath }}/Ressources/img/profile/jordan.jpg" alt="Jordan CLEMENT">
            </div>
            <h3 class="profile-name">Jordan CLEMENT</h3>
            <p class="profile-description"><b>Favorite Game</b> : World of Warcraft <br> <b>Special Skill</b> : Dubbing <br> <b>What he loves</b> : Jacquin <br> <b>What he hates</b> : Darksouls<br> <b>Special Link</b> : <a href="https://en.wikipedia.org/wiki/Biology">Biology</a></p>
                
            <div class="social">
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/jordan.clement.796?fref=ts"><i class="font-icon-social-facebook"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->

         <!-- Start Profile -->
        <div class="span4 profile">
            <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Game Designer</span>
                </div>
                <img src="{{ app.request.basepath }}/Ressources/img/profile/elric.jpg" alt="Elric MATHURE">
            </div>
            <h3 class="profile-name">Elric MATHURE</h3>
            <p class="profile-description"><b>Favorite Game</b> : LIMBO <br> <b>Special Skill</b> : Beard <br> <b>What he loves</b> : Rabbit <br> <b>What he hates</b> : Dots.<br> <b>Special Link</b> : <a href="https://www.youtube.com/watch?v=fwkl49TQ_Gs">Do you want cheese ?</a></p>
                
            <div class="social">
                <ul class="social-icons">
                    <li><a href="http://twitter.com/Melric69"><i class="font-icon-social-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->

 <!-- Start Profile -->
        <div class="span4 profile">
            <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Game Designer</span>
                </div>
                <img src="{{ app.request.basepath }}/Ressources/img/profile/alexandre.jpg" alt="Alexandre LAVAL">
            </div>
            <h3 class="profile-name">Alexandre LAVAL</h3>
            <p class="profile-description"><b>Favorite Game</b> : World of Warcraft <br> <b>Special Skill</b> :  Hearthstone deck opener <br> <b>What he loves</b> : Cordons Bleu <br> <b>What he hates</b> : Old people blocking the way<br> <b>Special Link</b> : <a href="http://twitter.com">Twitter</a></p>
                
            <div class="social">
                <ul class="social-icons">
                    <li><a href="http://twitter.com/GDHerst"><i class="font-icon-social-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->

        
    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->

